<footer class="footer-container">
    <nav class="footer-nav">
        <ul class="footer-nav-list">
            <li class="footer-nav-item">
                <a routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="footer-nav-item">
                <a routerLink="/work" routerLinkActive="active">Work</a>
            </li>
            <li class="footer-nav-item">
                <a routerLink="/skills" routerLinkActive="active">Skills</a>
            </li>
            <li class="footer-nav-item">
                <a routerLink="/resume" routerLinkActive="active">Resume</a>
            </li>
            <li class="footer-nav-item">
                <a routerLink="/projects" routerLinkActive="active">Projects</a>
            </li>
        </ul>
    </nav>
  
    <hr class="divider" />
    
    <div class="contact-container">
        <h2 class="contact-heading">Contact Me</h2>
        <form>
            <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input
                id="name"
                name="user_name"
                type="text"
                placeholder="Your Name"
                class="form-input"
                ngModel
            />
            </div>
            <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input
                id="email"
                name="user_email"
                type="email"
                placeholder="Your Email"
                class="form-input"
                ngModel
            />
            </div>
            <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <textarea
                id="message"
                name="message"
                rows="3"
                placeholder="Your Message"
                class="form-textarea"
                ngModel
            ></textarea>
            </div>
            <button class="submit-button" type="submit">Send Message</button>
        </form>
    </div>
    
    <hr class="divider" />
    
    <div class="footer-copy">
        <p>&copy; 2024 Mitchell Else.</p>
    </div>
</footer>