<nav class="navbar">
    <div class="navcontainer">
        <div class="navlogo">
            <fa-icon [icon]="faHome"></fa-icon>
            <h1 class="gradient-text">Mitchell Else</h1>
        </div>
        <div class="navbuttons">
            <a class="gradient-text" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a class="gradient-text" routerLink="/work" routerLinkActive="active">Work</a>
            <a class="gradient-text" routerLink="/skills" routerLinkActive="active">Skills</a>
            <a class="gradient-text" routerLink="/resume" routerLinkActive="active">Resume</a>
            <a class="gradient-text" routerLink="/projects" routerLinkActive="active">Projects</a>
        </div>
        <button class="mobile-menu-button" (click)="toggleMobileMenu()">☰</button>
    </div>
    <div class="mobile-menu" [ngClass]="{'active': mobileMenuVisible}">
        <a class="gradient-text" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMobileMenu()">Home</a>
        <a class="gradient-text" routerLink="/work" routerLinkActive="active" (click)="toggleMobileMenu()">Work</a>
        <a class="gradient-text" routerLink="/skills" routerLinkActive="active" (click)="toggleMobileMenu()">Skills</a>
        <a class="gradient-text" routerLink="/resume" routerLinkActive="active" (click)="toggleMobileMenu()">Resume</a>
        <a class="gradient-text" routerLink="/projects" routerLinkActive="active" (click)="toggleMobileMenu()">Projects</a>
    </div>
</nav>
