<app-hero
  [heading]="'Hi, I am Mitchell Else'"
  [secondheading]="['Web Developer.', 'Problem Solver.', 'Tech Enthusiast.', 'Hard Worker.', 'Team Player.', 'Creative Thinker']"
  [info]="'I am a dedicated web developer currently halfway through my computer science degree. Known for being hardworking and reliable, I take pride in my ability to tackle complex problems with innovative solutions. My passion for coding and continuous learning drives me to excel in creating dynamic and user-friendly web applications.'"
  [image]="'https://elsemitchell1.github.io/MitchellsPortfolio/static/media/FamilyPortrait.9992ecd5c41222aaa24a.png'"
  [reverse]="false"
/>
<app-hero
  [heading]="'Backstory'"
  [info]="'Originally from Australia, I now reside in Edmonton AB, Canada. In Australia I was a trade qualified heavy metal fabricator. After almost 10 years of experience in metal fabrication I am pursuing a new career path, utilising my problem solving skills in web development.'"
  [image]="'https://elsemitchell1.github.io/MitchellsPortfolio/static/media/australia.8ad2687c1542b06cf401.jpg'"
  [reverse]="true"
/>