.project-outer {
    display: flex;
    flex-direction: column;
}

.project-link {
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    padding: 1px;
    background: linear-gradient(to right, #FFA500, #FFFF00);
}
  
.project-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 288px;
    height: 450px;
    background-color: black;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
  
.project-image img {
    width: 100%;
    border-radius: 10px;
}
  
.project-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 15px;
    color: white;
}
  
.skill span{
    margin-left: 4px;
    font-size: 14px;
    font-weight: bold;
}
  
.project-info {
    color: white;
}

.project-info h3 {
    margin-top: 10px; 
}

.project-info h5 {
    margin: -8px 0;
    font-size: 12px;
    font-weight: 100;
}